.dropdown{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--secondary-dark);
  height: 0;
  overflow: auto;
  transition: all 0.3s ease-out;
  width: inherit;
  &.open{
    visibility: visible;
    height: 150px;
  }
}

.option{
  list-style-type: none;
  width: 90%;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--primary-white);
  &:hover{
    background-color: var(--select-option-hover-color);
  }
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
.editPageOption{
  background: var(--light-blue);
  color: var(--secondary-dark);
}