.button {
  color: var(--button-color);
  height: 26px;
  transition: all 0.3s ease-in-out;
   &:hover {
     color: #fff;
     cursor: pointer;
     transform: scale(1.1);
     color: var(--secondary-button-active-color);
   }
  @media (max-width: 420px) {
    &:nth-child(3){
      display: none;
    }
    svg{
      transform: scale(1.2);
      stroke-width: 1.5;
    }
  }
}