.selectWrapper{
  position: absolute;
  right: 0;
  transform: translateY(-4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: fit-content;
  background: var(--secondary-dark);
  opacity: 90%;
  color: var(--primary-white);
  padding: 8px;
  border-radius: 10px;

    &.editPageSelect {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 4px;
      box-sizing: border-box;
      transform: none;
      background: var(--light-blue);
      color: var(--secondary-dark);
    }

    @media (max-width: 1024px) {
      width: 193px;
    }
    @media (max-width: 420px) {
      left: 0;
    }
}

.selectedOption{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 0.5em;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: var(--light-blue);
  background: var(--secondary-dark);
  box-sizing: border-box;
  &::before{
    content: 'Show';
  }
    @media (max-width: 1024px) {
      font-size: 16px;
    }
}

.selectedOptionEditPage{
  background: var(--light-blue);
  color: var(--secondary-dark);
  padding: 4px;
    &::before{
      content: '';
    }
}