.sidebarWrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: inherit;
  padding: 8em 0 0 2em;
  .navItem{
    color: var(--button-icon-color);
    :hover{
      color: white;
    }
  }
}