.sidebarWrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: inherit;
  background: var(--sidebar-bg);
  box-shadow: -3px 2px 5px 3px #5d5d5d;
  @media (max-width: 880px) {
    display: none;
  }
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  width: 90%;
  background: var(--light-blue);
  border-radius: 10px;
  margin: 30% 0;
  justify-content: center;
  align-items: start;
  padding: 8px;
}