@import "../../index.css";
.table {
  margin: 2em;
  min-width: 70%;
  display: flex;
  flex-direction: column;
    .tableHeadRow{
      display: flex;
      align-items: center;
      width: 100%;
      background-color: var(--table-header-color);
      border-radius: 4px;
      .tableHeadItem {
        padding: 1em;
        flex: 1;
        text-align: left;
      }
    }

    .tableRow{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0 10px;
      width: 100%;
      background: var(--table-row-color);
      border-radius: 4px;
      &:hover {
        background: var(--table-row-hover)
      }
      .tableDataItem{
        padding: 1em;
        flex: 1;
        text-align: left;
      }
      .buttonWrapper{
        display: flex;
        gap: 7px;
      }
    }

}