@import "../../index.css";
.table {
  flex-direction: column;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
    th, td{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
    }
    .tableHeadRow, .tableBodyRow{
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      background-color: var(--table-header-color);
      border-radius: 10px;
      padding: 0 8px;
      box-sizing: border-box;
    }
    .tableHeadItem, .tableDataItem {
      padding: 16px 4px;
      flex: 1;
      text-align: center;
      font-size: 20px;
        @media (min-width: 1024px) {
          font-size: 18px;
        }
    }
    .tableBodyRow{
      margin: 10px 0;
      width: 100%;
      background: var(--table-row-color);
      transition: all 0.4s ease-in-out;
      &:hover {
        background: var(--table-row-hover);
      }
      .tableDataItem{
        font-size: 16px;
      }
      .buttonWrapper{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
      }
    }

}