:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-white: #f9f9f9;
  --root-color: linear-gradient(90deg, #8ac6db, #4ba3c7);
  --dark-blue: #2a6f97;
  --sidebar-bg: #a8dadc;
  --light-blue: #f0f8ff;
  --sky-blue: #93d3ee;
  --table-row-hover: #a7d3e7;
  --secondary-dark: #242424;
  --select-bg-color: linear-gradient(to bottom, #98D2C0, #75c2cb);
  --select-option-hover-color: #D9D9D9;
  --button-color: #FFF;
  --button-active-color: #70bbe1;
  --button-hover-color: #e4e5e6;
  --button-secondary-color: #e4e5e6;
  --section-color: #9DB8C3A6;
  --light-bg: #59a1b9;
  --light-bg-mobile: #59a1b9a3;
  --lime-green: #32cd32;
  --lime-green-light: #32cd32cc;
  --red: #ff4c4c;
  --red-light: #ff4c4ccc;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-white);
}

#body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background: var(--secondary-dark);
  color: var(--primary-white);
  margin: 0
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--button-hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--button-hover-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color:var(--primary-white);
  }
  a:hover {
    color: var(--primary-white);
  }
  button {
    background-color: #f9f9f9;
  }
}
